.myCont {
  margin-top: 5rem !important;
}
p {
  font-size: 14px;
}

p.card-text {
  margin-bottom: 0 !important;
}
.row {
  cursor: pointer;
}

@media screen and (max-width: 731px) {
  .myCont {
    margin-top: 1rem !important;
  }
}
