/* .card.scoreCard {
  display: none;
  margin: 5rem !important;
} */
.calculateCard {
  margin: 5rem 20rem 1rem 20rem;
  padding: 1rem;
}
input[value='Neutral'] {
  color: #ffcd02;
  background-color: #fffae6;
}
input[value*='Avoidable'] {
  color: #d11e4c;
  background-color: #fae8ed;
}
input[value*='Favorable'] {
  color: #15b525;
  background-color: #f1fbf2;
}

.compliantScore h5 {
  color: #503796;
}
.compliantScore {
  margin: 25px 20px;
}
.compliantScore p {
  margin: 0 !important;
}
.btn-Neutral {
  margin: 4px;
  background-color: #fffae6;
  color: #ffcd02;
  border: none;
  height: 3rem;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.btn-Favorable {
  margin: 4px;
  background-color: #f1fbf2;
  color: #15b525;
  border: none;
  height: 3rem;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
.btn-Avoidable {
  margin: 4px;
  background-color: #fae8ed;
  color: #d11e4c;
  border: none;
  height: 3rem;
  font-weight: 600;
  font-size: 20px;
  border: none;
}
p.calculateHeading {
  color: #666666;
  font-weight: 600px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
}
.btn-reset {
  width: 380px;
  height: 50px;
  margin-left: 45rem;
  background-color: #ff7021;
  border-radius: 4px;
  color: white;
  border: none;
}
.listItems {
  border-bottom: 1px Solid #dee2e6;
  border-right: 1px Solid #dee2e6;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}
.legend {
  width: 120px;
  height: 28px;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-weight: 600px;
}
.card-vastuCompliant {
  background: #34bdb4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.029693);
  border-radius: 10px;
  margin: 1rem 20rem 2rem 20rem;
  border: none;
}
.card-plan {
  padding: 3rem;
}

@media screen and (max-width: 731px) {
  .calculateCard {
    margin: 1rem;
    padding: 1rem;
  }
  .btn-reset {
    margin: 0 1rem 1rem 1rem;
    width: 377px;
  }

  .listItems {
    border-right: none;
  }
  .card-vastuCompliant {
    margin: 0 1rem 2rem 1rem;
  }
  .card-plan {
    padding: 1rem;
  }
}
