.MyCard {
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(255, 112, 33, 0.3);
  border-radius: 1.25rem !important;
}
.ListCard {
  margin-top: 1rem;
}
input.checkBox {
  margin: 0.5rem !important;
}
.linkClass {
  display: flex;
  justify-content: space-between;
}
.linkClass a {
  padding: 12px;
}
input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
  background-color: #ff7021;
}
Button.ResetRoom {
  margin-right: 150px;
  display: inline-block;
  flex: 1;
  background-color: #e5e5e5;
  border-radius: 8px;
  border: 1px solid #ff7000;
  color: #ff7021;
  height: 50px;
}
Button.CalVastuScore {
  display: inline-block;
  flex: 1;
  background-color: #ff7021;
  border-radius: 8px;
  border: none;
  color: white;
  height: 50px;
}
Button.CalVastuScore:hover {
  background-color: #ff7021;
  color: white;
}
Button.ResetRoom:hover {
  background-color: #e5e5e5;
  border: 1px solid #ff7000;
  color: #ff7021;
}
div.Button-Div {
  display: flex;
  margin-top: 10 rem;
}
.myBreadcrumb {
  margin-left: 1rem;
}
.MyCol {
  border-bottom: 1px Solid #dee2e6;
  border-right: 1px Solid #dee2e6;
  padding: 20px 20px;
}
.listCard {
  padding: 1rem;
}

@media screen and (max-width: 761px) {
  .MyCard {
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: center;
  
  }

  Button.ResetRoom {
    display: none;
  }
  Button.CalVastuScore{
    margin: 0;
    width: 94%;
    bottom: 0;
    position: fixed;
  }
}
