nav.navbar.navbar-expand-lg {
  background: radial-gradient(
    331.08% 331.08% at 0% 0%,
    #503796 0%,
    rgba(92, 38, 132, 0.97444) 33.62%,
    rgba(225, 0, 135, 0.5) 100%
  );
  border-bottom-right-radius: 20px 20px;

  border-bottom-left-radius: 20px 20px;
  padding: 1rem 10rem;
}


.cardButton {
  margin-top: 5rem;
  margin: 10rem;
}
.MyIcon {
  margin: 5px 10px;
  padding: 1px;
  float: left;

  color: white;
}
li {
  list-style-type: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa !important;
}
.nav-link {
  color: white !important;
  margin-left: 2rem;
}

.nav-link:active {
  transform: scale(1.1);
  background: #ffffff;
}
nav.ForDesktop.navbar.navbar-expand-lg.navbar-light {
  display: block;
}
nav.ForMobile.navbar.navbar-expand-lg.navbar-light {
  display: none;
}
@media screen and (max-width: 761px) {
  nav.ForDesktop.navbar.navbar-expand-lg.navbar-light {
    display: none;
  }

  nav.ForMobile.navbar.navbar-expand-lg.navbar-light {
    display: block;
    width: 100%;
  }
}
